<h1>Диалоги</h1>

    <% @conversations.each do |conversation| %>
    <div class='conversation'>
       
      <% if conversation.first_owner_id == current_user.id %>
        <% @owner = User.find_by(id: conversation.second_owner_id) %>
      <% else %>
        <% @owner = User.find_by(id: conversation.first_owner_id) %>
      <% end %>
      <%= link_to "Разговор с #{@owner.name}", account_conversation_path(current_user.account_id, conversation) %>
    </div>
    <%= link_to 'Удалить', account_conversation_path(current_user.account_id, conversation), id: 'delete', method: :delete, data: { confirm: 'Are you sure?' } %>
      <br>
    <% end %>
    <div class='clear'></div>
<%= link_to 'Создать новый диалог', new_account_message_path(current_user.account) %>
