<h1>Editing company</h1>

<%= render 'form' %>

<%= link_to 'Show', account_company_path(current_user.account_id, @company) %> |
<%= link_to 'Back', account_companies_path(current_user.account_id) %>
